---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";

export async function getStaticPaths() {
  const newsletters = await getCollection("newsletter");
  return newsletters.map((edition) => ({
    params: { slug: edition.slug },
    props: { edition },
  }));
}

type Props = {
  edition: CollectionEntry<"newsletter">;
};

const { edition } = Astro.props;
const { Content } = await edition.render();
---

<Layout title={edition.data.title} description={edition.data.description}>
  <Container>
    <article class='prose prose-neutral max-w-none'>
      <h1>{edition.data.title}</h1>
      <div class='text-sm text-neutral-500'>
        Edition {edition.data.edition} • {
          edition.data.date.toLocaleDateString()
        }
      </div>
      <Content />
    </article>
  </Container>
</Layout>
